*{
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: #454545;
    color: #000;
    font-family: monospace;
    font-size: 14px;
    font-weight: 100;
}
hr{
    border: none;
    border-bottom: 1px dashed #333;
}
p{
  padding: 10px;
}
.code{
  color: #f00;
  padding:10px;
  padding-left:20px;
}
.challenge-item__title{
  padding: 10px;
}
.wrapper{
  max-width: 1024px;
  margin: auto;
  background: #dedede;
  padding-left: 10px;
  padding-right: 10px;
}
.table{
  display: table;
}
.tr{
  display: table-row;
}
.td{
  display: table-cell;
  /*width: 50%;*/
}
pre.header-ascii{
  /*background: #060;*/
  color: #333;
  font-size: 1.0em;
  font-weight: 700;
}
img{
  width: 100%;
/*          max-width: 960px;
  margin: auto;*/
}
.inner-item__head{
  background: #000;
  color: #dedede;

}
.invert{
  filter: invert(0%);
}
@media(max-width: 768px){
 pre.header-ascii{
  color: #f90;
  font-size: 0.8em;
 } 
}
@media(max-width: 690px){
 pre.header-ascii{
  color: #f90;
  font-size: 0.5em;
 } 
}